{{ template "Header" }}
<div class="container-fluid">
    <div class="row d-flex justify-content-around mb-4">
        <div class="col-md-6 ">
            <input type="text" class="form-control mb-2" id="cidr" placeholder="Filter">
            <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="ModifyList(10)">Add to Whitelist</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="ModifyList(11)">Remove from Whitelist</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="ModifyList(1)">Add to Blacklist</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="ModifyList(2)">Remove from Blacklist</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="SendCmd(13)">Enable Blacklist Mode</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="SendCmd(14)">Enable Whitelist Mode</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="SendCmd(15)">Clear Whitelist</button>
            <button type="button" class="btn btn-primary mx-1 mb-1" style="padding: 0.5em 1em; height: 10vh; font-size: 1.75vh" onclick="SendCmd(16)">Clear Blacklist</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="agents" class="h-100 d-flex align-items-center justify-content-center row">
        </div>
    </div>

<script src="./assets/js/statusWS.js"></script>
<script>
    $(document).ready(function () {
        GetAgents();
    });

    function GetAgents() {
        $.ajax({
            url: "/api/agents/get",
            type: "GET",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    if (document.getElementById(data[i][3]) === null) {
                        AddAgentCard(data[i][0], data[i][1], data[i][2], data[i][3]);
                    }
                }
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            },
        });
    }

    function AddAgentCard(hostname, os, ip, id) {
        var card = '<div class="col-md-4" style="max-width: 18rem;">' +
            '<div id="' + id + '" class="card text-bg-danger mb-3 col" style="max-width: 18rem;">' +
            '<div class="card-header">' + os + '</div>' +
            '<div class="card-body">' +
            '<h5 class="card-title">' + hostname + '</h5>' +
            '<p class="card-text">' + ip + '</p>' +
            '</div>' +
            '</div>' +
            '</div>';
        $("#agents").append(card);
    }

    function AgentDown(id) {
        document.getElementById(id).classList.remove("text-bg-success");
        document.getElementById(id).classList.add("text-bg-danger");
    }

    function AgentUp(id) {
        document.getElementById(id).classList.remove("text-bg-danger");
        document.getElementById(id).classList.add("text-bg-success");
    }

    function ModifyList(opcode) {
        var cidr = document.getElementById("cidr").value;
        if (cidr === "") {
            alert("Please enter a CIDR");
            return;
        }
        socket.send(JSON.stringify({
            "OpCode": opcode,
            "CIDR": cidr
        }));
    }

    function SendCmd(opcode) {
        socket.send(JSON.stringify({
            "OpCode": opcode,
        }));
    }

</script>
{{ template "Footer" }}
