{{ template "Header" }}
<div class="container-fluid" style="width:75%">
    <table id="data-table" class="table table-striped" >
        <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Port</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="connections">
        </tbody>
    </table>
</div>

<script src="./assets/js/connectionsWS.js"></script>
<script>

    $(document).ready(function () {
        getConnections();
    });

    function getConnections() {
        $.ajax({
            url: "/api/connections/get",
            type: "GET",
            success: function (data) {
                console.log(data);
                let dataArray = Object.keys(data).map(key => [key, data[key]]);
                var i = 1;
                Object.keys(data).forEach(key => {
                    var src = data[key][0];
                    var dst = data[key][1];
                    var port = data[key][2];
                    var count = data[key][3];
                    var deleteConnection = '<button type="button" class="btn btn-secondary mr-1 mb-1" onClick="deleteConnection(\'' + key + '\')">Delete Connection</button>';
                    $("#connections").append("<tr id=" + 
                        key + "><td>" + 
                        src + "</td><td>" + 
                        dst + "</td><td>" + 
                        port + "</td><td>" + 
                        count + "</td><td>" +
                        deleteConnection + "</td></tr>");
                    i++;
                });

                $("#hosts").html(data);
                $('#data-table').DataTable();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function deleteConnection(data) {
        console.log(data);
        socket.send(JSON.stringify({
            "OpCode": 3,
            "ID": data
        }));
        $('#' + data).remove();
    }

</script>
{{ template "Footer" }}
