{{ template "Header" }}
<div class="container-fluid h-50 d-flex align-items-center justify-content-center">
    <div class="row w-50 ">
        <input type="text" id="search">
        <div class="container-fluid h-50 d-flex align-items-center justify-content-center">
            <div class="col-md-6" style="text-align:left">
                <div class="form-check form-check-inline" style="height:10em; overflow-y:auto; align-items-center">
                    <ul id="checkboxes" style="list-style:none ">
                    </ul>
                </div>
                <div> 
                    <button id="btn" class="btn btn-primary" onclick="filter()">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "Topology" }}

<script>
    $(document).ready(function () {
        createCheckboxes();
    });


    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#checkboxes li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function createCheckboxes() {
        var xhttp = new XMLHttpRequest();
        var div = document.getElementById("checkboxes");
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var connections = JSON.parse(this.responseText);
                var i = 1;
                Object.keys(connections).forEach(key => {
                    if (!ips.includes(connections[key][0])) {
                        ips.push(connections[key][0]);
                        createCheckbox(connections[key][0]);
                    }
                    if (!ips.includes(connections[key][1])) {
                        ips.push(connections[key][1]);
                        createCheckbox(connections[key][1]);
                    }
                    i++;
                });
            }
        };
        xhttp.open("GET", "http://localhost/api/connections/get", true);
        xhttp.send();
    }

 function createCheckbox(ip) {
        var ul = document.getElementById("checkboxes");
        var list = document.createElement("li");
        ul.className = "row form-check form-check-inline";
        var checkbox = document.createElement("input");
        checkbox.type = "checkbox";
        checkbox.name = ip;
        checkbox.value = ip;

        label = document.createElement('label')
        label.appendChild(checkbox);
        label.appendChild(document.createTextNode(ip));
        label.ClassName = "form-check-label";

        list.appendChild(label);
        ul.appendChild(list);
    }

    function filter() {
        var checklist = document.getElementById("checkboxes");
        var checkboxes = checklist.getElementsByTagName("input");
        var checked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checked.push(checkboxes[i].value);
            }
        }
        myDiagram.commit(function (d) {
            d.nodes.each(function (n) {
                n.visible = false;
            });
            d.links.each(function (l) {
                l.visible = false;
            });

            d.model.linkDataArray.forEach(function (p) {
                if (checked.includes(p.from) || checked.includes(p.to)) {
                    d.findNodeForKey(p.from).visible = true;
                    d.findNodeForKey(p.to).visible = true;
                    d.findLinkForData(p).visible = true;
                }
            });
        }, "filter");
    }
</script>
{{ template "Footer" }}
